{% extends 'admin/model/edit.html' %}

{% block head_css %}
    {{ super() }}
    <style>
        .question-content img, .question-content iframe{
            max-width: 100%;
        }
    </style>
{% endblock %}

{% block body %}
    {{ super() }}

    <div class="container" style="max-width:720px">
    {% for question in model.questions %}
    <h3 id="question-{{ question.id }}">
        {{ question.order_number }}.
        <a class="btn btn-sm btn-warning" href="{{ url_for('question.edit_view', id=question.id, url=request.url + "#question-" + question.id|string) }}">
            <span class="glyphicon glyphicon-pencil"></span>
        </a>
        <form style="display: inline" method="POST" action="{{ url_for('question.duplicate', id=question.id, url=request.url) }}">
            <button type="submit" class="btn btn-sm btn-info">
                <span class="glyphicon glyphicon-copy"></span>
            </button>
        </form>
        <form style="display: inline" method="POST" action="{{ url_for('question.delete_view', id=question.id, url=request.url) }}">
            <button type="submit" class="btn btn-sm btn-danger">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>
    </h3>
    <div class="question-content jumbotron text-center">
        {{ (question.text or '')|safe }}
    </div>

    <table class="table">
    {% for value in question.values %}
        <tr>
            <td style="vertical-align: middle;width: 100%">{{ value.text }}</td>
            <td style="vertical-align: middle">{{ value.points }}</td>
            <td style="vertical-align: middle;white-space: nowrap;text-align: right">
                <a class="btn btn-sm btn-warning" href="{{ url_for('value.edit_view', id=value.id, url=request.url + "#question-" + question.id|string) }}">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
                <form style="display: inline" method="POST" action="{{ url_for('value.delete_view', id=value.id, url=request.url + "#question-" + question.id|string) }}">
                    <button type="submit" class="btn btn-sm btn-danger">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </form>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2" style="vertical-align: middle;width: 100%">{{ _('Add value') }}</td>
        <td style="vertical-align: middle;white-space: nowrap;text-align: right">
            <a class="btn btn-sm btn-success" href="{{ url_for('value.create_view', question_id=question.id, url=request.url + "#question-" + question.id|string) }}">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </td>
    </tr>
    </table>
    {% endfor %}
    <a class="btn btn-sm btn-success" style="width:100%;font-size:large;margin-bottom:2rem" href="{{ url_for('question.create_view', section_id=model.id, url=request.url) }}">
        <span class="glyphicon glyphicon-plus"></span> {{ _('Add question') }}
    </a>
    </div>
{% endblock %}