<div class="well">
    <h4>{{ quiz.name }}</h4>

    {% if quiz.ranking %}
        <table class="table" style="max-width: 540px; margin:auto;">
            <thead>
                <tr>
                    <th>
                    </th>
                    <th>
                        {{ _('Username') }}
                    </th>
                    <th>
                        {{ _('Points') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for data in quiz.ranking %}
                    <tr>
                        <td>
                            {{ data['rank'] }}
                        </td>
                        <td style="width:100%">
                            {% if current_user.is_authenticated and current_user.id == data['id'] %}
                                <span class="glyphicon glyphicon-user"></span>
                            {% endif %}
                            {{ data['username'] }}
                        </td>
                        <td class="text-right">
                            {% if data['rank'] < 4 %}{{ data['points'] }}p{% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <div class="text-right">
        {% if quiz.start_time and quiz.start_time < now %}
            <a class="btn btn-primary" href="{{ url_for('admin.quiz_static', quiz_id=quiz.id) }}">
                {{ _('Static View') }}
            </a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a class="btn btn-success" href="{{ url_for('admin.quiz', quiz_id=quiz.id) }}">
                {{ _('Start') }}
            </a>
        {% else %}
            <a class="btn btn-link" href="{{ url_for('security.login') }}">
                {{ _('Sign in') }}
            </a>
            <a class="btn btn-success" href="{{ url_for('security.register') }}">
                {{ _('Register') }}
            </a>
        {% endif %}
        {% if current_user in quiz.hosts or current_user.has_role('admin') %}
            <a class="btn btn-warning" href="{{ url_for('quiz.edit_view', id=quiz.id, url=url_for('admin.index')) }}">
                {{ _('Edit') }}
            </a>
        {% endif %}
    </div>
</div>