{% extends 'admin/master.html' %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div id="quiz">
        <div class="loader" id="loader-2">
          <span></span>
          <span></span>
          <span></span>
        </div>
    </div>
    <button id="auto-refresh" class="btn btn-primary auto-refresh" onclick="setAutoRefresh(!autoRefresh)">
        <span class="glyphicon glyphicon-pause"></span>
    </button>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script>
        const QUIZ_ID = {{ quiz.id }};
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/quiz.js') }}"></script>
{% endblock %}