{% extends 'admin/master.html' %}

{% block head_css %}
    {{ super() }}
    <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <div class="container">
        <h1>{{ quiz.name }}</h1>

        <ul class="nav nav-pills" style="margin-bottom: 1rem;">
            {% for section in quiz.sections %}
                <li role="presentation"><a data-toggle="tab" href="#section-{{ section.id }}">{{ section.order_number }}. {{ section.name }}</a></li>
            {% endfor %}
        </ul>

        <div class="tab-content">
        {% for section in quiz.sections %}
            <div id="section-{{ section.id }}" class="tab-pane fade">


                <ul class="nav nav-pills" style="margin-bottom: 1rem;">
                    {% for question in section.questions %}
                        <li role="presentation" {% if question.order_number == 1 %}class="active" {% endif %}><a data-toggle="tab" href="#question-{{ question.id }}">{{ question.order_number }}</a></li>
                    {% endfor %}
                </ul>

                <ul class="nav nav-pills" style="margin-bottom: 1rem;">
                    <li role="presentation" class="active"><a data-toggle="tab" href=".question-content-{{ section.id }}">{{ _('Questions') }}</a></li>
                    <li role="presentation"><a data-toggle="tab" href=".answers-{{ section.id }}">{{ _('Answers') }}</a></li>
                </ul>

                <div class="tab-content">
                    {% for question in section.questions %}
                        <div id="question-{{ question.id }}" class="jumbotron question tab-pane fade {% if question.order_number == 1 %}in active{% endif %}">
                            <h3>{{ question.order_number }}.</h3>
                            <div class="tab-content" style="margin-top: 8rem;">
                                <div class="question-content-{{ section.id }} tab-pane fade in active">
                                    <div class="question-content">
                                        {{ question.content|safe }}
                                    </div>
                                    {% if question.show_values %}
                                        <div class="well values text-center">
                                            {% for value in question.values %}
                                                <p>{{ value.text }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="answers-{{ section.id }} tab-pane fade">
                                    <div class="question-content">
                                        {{ question.content|safe }}
                                        <br>
                                        <div class="answer-content">
                                            {% if question.answer_content %}
                                                {{ question.answer_content|safe or '' }}
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if question.show_values %}
                                        <div class="well values text-center">
                                            {% for value in question.values %}
                                                <p>{{ value.text }}{% if value.points > 0 %} <span class="glyphicon glyphicon-ok correct-mark"></span>{% endif %}</p>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="correct-answers">
                                            {% for value in question.values %}
                                                {% if value.points > 0 %}<p>{{ value.text }}</p>{% endif %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}